#toolbar-container {
    width: auto;
}

#toolbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--medium);
}

#board-title{
    margin: auto 30px;
}